{% extends "job/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">Welcome to warranty system</a></h2>
    <p class="article-content">Sunny Shutter offers a complete package for the design, fabrication and installation of shopfronts and entrance screens. The company has completed new build and refurbishment projects for banks, shopping centres, car showrooms, shops and supermarkets.
We provide a wide range security shutters including full solid shutters, perforated shutters, lattice grill, pin hole, punch hole shutters, fire proof shutters and industrial shutters. </p>
  </div>
</article>
{% endblock content %}